/* HOME PAGE */
.home {
  height: 100vh;
  width: 100%;
  background-image: url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3?auto=format&fit=crop&w=1600&q=80");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 15px;
  text-align: center;
  color: white;
}

.btn {
  margin-top: 20px;
  padding: 10px 25px;
  border: none;
  background: #00c6ff;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

/* LOGIN PAGE */
.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.login-box {
  background: white;
  padding: 40px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.login-box select,
.login-box button {
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 8px;
  border: none;
}

.login-box button {
  background: #667eea;
  color: white;
  cursor: pointer;
}

/* DASHBOARD */
.dashboard {
  padding: 40px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top button {
  background: red;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
}